body{
	background-size: cover;
	background-attachment: fixed;
	font-family: "Amatica SC";
	position: relative;
}

.copy{
	text-align: center;
	font-size: 20px;
	color: white;
	bottom: 50px;
}

#index{ background-image: url(mountain.jpg); }
#about{ background-image: url(surfer_beach_hut.jpg); }
#contact{background-image: url(tent.jpg); }
#blog{background-image: url(canyon.jpg);}
#share{background-image: url(sunset.jpg);}
#post{background-image: url(fieldFlower.jpg);}
#post1{background-image: url(cactus.jpg);}
#post2{background-image: url(swing.jpg);}
#post3{background-image: url(mountainSun.jpg);}
#post4{background-image: url(hotSpring.png);}
#post5{background-image: url(Wheat_Sun.jpg);}


header{
	text-align: center;
	color: white;
}

h1{
	margin-top: 200px;
	font-size: 125px;
	text-align: center;
	color: white;
}

h2{
	font-size: 75px;
}

a{  
	text-decoration: none;
	color:black;
	font-weight: bold;
}

a:hover { 
	color: skyblue; 
}

/*a:visited {
	background-color: white;
} */

nav{
	background-color: white;
	margin:25px;
	padding: 10px;
	margin-bottom: 0px; 
	text-align: right;
}

.indexList{
	position: relative;
	background-color: white;
	text-align: center;
	padding: 10px;
	list-style: none;
	display: inline;	
}

ul li {
	background-color: white;
	width:100%;
	padding: 10px 30px 10px 30px;
	font-size: 20px;
	list-style: none;
	display: inline;
}

ul li:hover {
  color: skyblue;
  background-color: #FAFAFA;
}

/* This is About Us*/

#articleAbout{
	background-color: rgba(255,255,255,0.5);
	margin-top: 150px;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 100px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 75px;
	padding-top: 50px;
}

#steph{
/*	font-family: "HanziPen SC"; */
	text-align: left;
	font-size: 20px;
	padding-top: 75px;
}

.img-circle{
	width: 300px;
	height: 300px;
	margin: 50px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-position: 50% 50%;
	object-fit: cover;
}

/* This is the contacts area */

form{
	font-size: 20px;
	color:white;
}

#forms{
	margin: 50px;
	text-align: center;
	border: 1px solid white;
	padding: 30px;
}

#message{
	text-align: center;
	color: white;
	font-size: 50px;
}

input[type="text"]{
	border:none;
	font-size: 20px;
	width: 400px;
	height: 25px;
	font-family:"HanziPen SC";
	background-color: rgba(255,255,255, 0.7);

}

input[type="email"]{
	border:none;	
	font-size: 20px;
	width: 400px;
	height: 25px;
	font-family:"HanziPen SC";
	background-color: rgba(255,255,255, 0.7);
}

input[type="submit"]{
	border:none;
	font-size: 20px;
	height: 50px;
	width: 100px;
	text-align: center;
	padding: 10px;
	border-style: none;
	background-color: rgba(255,255,255, 0.7);
	box-shadow: 0 5px 5px rgba(0,0,0,0.2);
	font-family:"Amatica SC";
}

input[type="submit"]:hover {
	color: skyblue;
}

textarea{
	background-color: rgba(255,255,255, 0.7);
	font-size: 20px;
	height: 200px;
	width: 700px;
}

#social{
	color: white;
}

.icons{
	text-align: center;
	width: 50px;
	height: 50px;
	margin:10px;
}

/* Blog */

.postContainer{
	padding-left: 20px;
	width: 100%;
	margin-top: 100px;
	margin-right: 75px;
	text-align: center;
}


.postContainer h3{
	font-size: 20px;
	padding: 10px;
	color:black;/
/*	font-family: "HanziPen SC"; */
}

.post{
	text-align: center;
	background-color: rgba(255, 255, 255, 0.7);
	width: 350px;
	height: 350px;
	margin-left: 30px;
	padding-bottom: 50px;
	margin-bottom: 30px;
/*	border: 1px solid white; */
}

.post:hover {
	box-shadow: 0 5px 5px rgba(0,0,0,0.2);
	cursor: pointer;
}

td{
	padding: 5px;
}

/*Blog page*/

.blogPost{
	color: black;
	font-size: 20px;
	padding: 75px 125px 50px 125px;	
}

.postOuter{
	margin: 150px 125px 50px 125px;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.head{
	font-weight: bold;
}

.blogPostHead{
	color:black;
	text-align: center;
	margin: 30px 100px 0 100px;
	padding: 50px;
	border-bottom: 2px solid black;
}

.backButton{
  text-align: center;
  color: grey;
  display: inline-block;
  background: transparent;
  border:2px solid grey;
  border-radius: 25px;
  font-size: 2em;
  padding: 5px 35px 10px 35px;
  margin-left: 500px;
  margin-bottom: 20px;
  user-select: none;
}

.backButton:Hover {
  cursor: pointer;
  background-color: grey;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

/* Resource */


ul li ul {
  padding-right: 10px;
  position: absolute;
  top: 44px;
  left: 0;
  width: 200px;
  margin:0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
}

 ul li ul li { 
  text-align: right;
  display: inline-block;	
  width: 100%;
  margin-bottom: 0;
  padding: 15px;
  background: white; 
  color: black;
}

ul li:hover ul {
  display: inline-block;
  margin: 0;
  list-style: none;
  opacity: 1;
  visibility: visible;
}

/* Share */

#sharing{
	margin-top: 30px;
	text-align: center;
	font-size: 100px;
	color: white;
}

#bigContainer{
	width: 1300px;
	text-align: center;
}

.pics{
	width: 100%;
	margin-left: -20px;
	text-align: center;
}

.textPic{
  color: white;
  font-size: 20px;
  bottom: 100px;
  text-align: center;
}

.slide{
   padding: 20px;
   border: 1px solid white;
}

.forward{
	top:0%;
	position: absolute;
	right:0;
	padding: 10px 20px 15px 20px;
}

.back{
	top:60%;
	position: absolute;
	left:0;
	padding: 10px 20px 15px 20px;
}

.forward, .back{
  color: white;
  position: absolute;
  background: transparent;
  border:2px solid white;
  border-radius: 25px;
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  user-select: none;
}

.forward:hover, .back:hover {
  background-color: #FAFAFA;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.fade {
  text-align: center;
  position: relative;
  margin-left: 30px;
  padding-right: 20px;	
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;	
  height: 700px;
  overflow: hidden;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .3} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .3} 
  to {opacity: 1}
}

.upload1{
	text-align: center;
	margin-bottom: 100px;
	font-size: 30px;
}

input[type="file"] {
    display: none;
}

.customUpload{
	display: inline-block;
	cursor: pointer;
	width: 50%;
	height: 50px;
	padding-top:10px;
	text-align: center;
	font-size: 30px;
	font-family: "Amatica SC";
	color: white;
	border: 2px solid white;	
}

.customUpload:hover {
	color: skyblue;
}

#uploadButton{
	display: inline-block;
	font-size: 20px;
	font-family: "Amatica SC";
	padding: 10px;
	color: white;
	border: 2px solid white;
	background-color: transparent;
}

#uploadButton:hover {
	outline: none;
	color: skyblue;
	background-color: #FAFAFA;
  	box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
